html {
  font-size: 100%;
  font-family: verdana;
  font-weight: normal;
}  

body {
  background-color: black;
}

header {
  background-color: black;
}

h2 {
  font-size: 3.125rem;
  color: white;
  text-align: center;
  font-weight: normal;
}

h4 {
  font-size: 1rem;
  color: aquamarine;
  text-align: center;
  text-decoration: underline;
  font-weight: normal;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video video {
  max-width: 100%;
}

.guide {
  text-align: center;
}

.guide img {
  display: block;
  justify-content: center;
  margin: 0 auto 2rem auto;
  max-width: 100%;
}

.guide h2 {
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}
  
.guide h3 {
  color: grey;
  font-size: 1.3125rem;
  text-align: center;
}

.soon {
  text-align: center;
}

.soon img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
}

footer {
  color: gray;
  text-align: right;
}
